<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin - PsiTransfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script>
        async function delete_user(username) {
            try {
                const response = await fetch('/delete', {
                    method: 'post',
                    headers: {
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify({ username: username }),
                });
                alert("User deleted successfully");
                location.reload();
            } catch (err) {
                alert("Error while deleting user");
            }
        }

        async function switch_plan(username) {
            try {
                const response = await fetch('/switchPlan', {
                    method: 'post',
                    headers: {
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify({ username: username })
                });
                alert("User plan switched successfully");
                location.reload();
            } catch (err) {
                alert("Error while switching plan")
            }
        }

        async function change_password(username) {
            try {
                let new_password = window.prompt("Enter new password: ")
                const response = await fetch('/updatePassword', {
                    method: 'post',
                    headers: {
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify({ username: username, password: new_password })
                });
                alert("Password updated successfully")
                location.reload();
            } catch (err) {
                alert("Error while updating password")
            }
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <svg viewbox="0 0 1920 1792" style="fill: #0275D8">
                        <path
                            d="M1280 864q0-14-9-23l-352-352q-9-9-23-9t-23 9l-351 351q-10 12-10 24 0 14 9 23t23 9h224v352q0 13 9.5 22.5t22.5 9.5h192q13 0 22.5-9.5t9.5-22.5v-352h224q13 0 22.5-9.5t9.5-22.5zM1920 1152q0 159-112.5 271.5t-271.5 112.5h-1088q-185 0-316.5-131.5t-131.5-316.5q0-130 70-240t188-165q-2-30-2-43 0-212 150-362t362-150q156 0 285.5 87t188.5 231q71-62 166-62 106 0 181 75t75 181q0 76-41 138 130 31 213.5 135.5t83.5 238.5z">
                        </path>
                    </svg>
                </div>
                <div class="col">
                    <h1 class="display-4">PsiTransfer <strong>Admin</strong></h1>
                </div>
            </div>
    </nav>

    <div class="container py-5">
        {% block content %} {% endblock %}
    </div>
    <div class="py-5" style="width:100%; background-color: #F2F2F2;">
        <div class="container" style="max-width: 850px;"">
            <h2>Add user</h2>
            <form action=" users" method="post">
            <div class="form-group pt-4">
                <label for="username">Username</label>
                <input type="text" class="form-control mt-1" name="username" placeholder="Enter username">
            </div>
            <div class="form-group pt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control mt-1" name="password" placeholder="Password">
            </div>
            <div class="form-check pt-3">
                <input type="checkbox" class="form-check-input mt-1" name="paid" value="1">
                <label class="form-check-label" for="paid">Paid</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>