{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Users {% endblock %}</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Plan</th>
            <th scope="col">Registration date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users|sort(attribute='0') %}
        <tr>
            <th scope="row" class="align-middle">{{ user[0] }}</th>
            <td class="align-middle">{{ user[1] }}</td>
            {% if user[2] == 1 %}
            <td class="align-middle">Paid</td>
            {% else %}
            <td class="align-middle">Free</td>
            {% endif %}
            <td class="align-middle">{{ user[3] }}</td>
            <td class="align-middle">
                <button type="button" class="btn btn-secondary my-1" onClick="switch_plan(`{{ user[1] }}`)">Switch
                    plan</button>
                <button type="button" class="btn btn-secondary my-1" onClick="change_password(`{{ user[1] }}`)">Change
                    password</button>
                <button type="button" class="btn btn-danger my-1" onClick="delete_user(`{{ user[1] }}`)">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}